<nav id="globalnav">

  <ul>
    <li><a href="/logout">Log Out</a></li>
    <li><a href="/preferences">Preferences</a></li>
    <li><a href="/all">View All</a></li>
    <li><a href="/closed?project={{projectID}}">Closed</a></li>
    <li class="/currentTab"><strong>Open</strong></li>
    <li><a href="/create">Create</a></li>
    <li><a href="/">Home</a></li>
  </ul>

</nav>